PORT=3001
FRONTEND_ORIGINS=http://localhost:5173,http://localhost:3000
DATA_FILE=./data/database.json
SESSION_HOURS=8

ADMIN_CONTACT_EMAIL=admin@admin.com
BOOTSTRAP_ADMIN_EMAIL=
SCHOOL_EMAIL_DOMAIN=nushigh.edu.sg

MICROSOFT_CLIENT_ID=
MICROSOFT_AUTHORITY=common
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URI=http://localhost:3001/api/v1/auth/microsoft/callback
FRONTEND_AUTH_REDIRECT=http://localhost:5173/index.html
